In [1]:
import pandas as pd

In [2]:
df1 = pd.read_parquet("data/dataset1.parquet")
df1.shape

(963419, 7)

In [3]:
df1.head()

,Secció censal/Sección censal/Census section,Districte/Distrito/District,Municipi/Municipio/Municipality,Data/Fecha/Date,Ús/Uso/Use,Nombre de comptadors/Número de contadores/Number of meters,Consum acumulat (L/dia)/Consumo acumulado (L/día)/Accumulated consumption (L/day)
0,801901001,1,BARCELONA,2023-01-01,Comercial/Comercial/Commercial,64,14258
1,801901001,1,BARCELONA,2023-01-01,Domèstic/Doméstico/Domestic,395,11089
2,801901001,1,BARCELONA,2023-01-01,Industrial/Industrial/Industrial,20,490360
3,801901001,1,BARCELONA,2023-01-02,Comercial/Comercial/Commercial,64,6780
4,801901001,1,BARCELONA,2023-01-02,Domèstic/Doméstico/Domestic,395,11571

In [4]:
df2 = pd.read_parquet("data/dataset2.parquet")
df2.shape

(25977, 7)

In [5]:
df2.head()

,POLIZA_SUMINISTRO,NUMEROSERIECONTADOR,CONSUMO_REAL,FECHA_HORA,CODI_ANOMALIA,DATA_INICI,DATA_FI
0,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,NaN,2024-06-17 00:00:00,163840,2024-07-15,2024-09-13
1,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,21.0,2024-06-17 00:56:13,163840,2024-07-15,2024-09-13
2,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,7.0,2024-06-17 01:56:13,163840,2024-07-15,2024-09-13
3,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 02:56:13,163840,2024-07-15,2024-09-13
4,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 03:56:13,163840,2024-07-15,2024-09-13

In [6]:
df3 = pd.read_parquet("data/dataset3.parquet")
df3.shape

(121834, 9)

In [7]:
df3.head()

,POLIZA_SUMINISTRO,NUMEROSERIECONTADOR,CONSUMO_REAL,FECHA_HORA,DATA_INI_FACT,DATA_FIN_FACT,CREATED_MENSAJE,CODIGO_MENSAJE,TIPO_MENSAJE
0,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,9.0,2024-01-01 00:29:14,2024-01-24,2024-03-26,NaT,None,None
1,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 01:29:14,2024-01-24,2024-03-26,NaT,None,None
2,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,10.0,2024-01-01 02:29:14,2024-01-24,2024-03-26,NaT,None,None
3,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 03:29:14,2024-01-24,2024-03-26,NaT,None,None
4,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 04:29:14,2024-01-24,2024-03-26,NaT,None,None

In [8]:
df4_consum = pd.read_parquet("data/dataset4-consum.parquet")
df4_consum.shape

(14439, 3)

In [9]:
df4_consum.head()

       POLISSA_SUBM        DATA  CONSUM
0  4XFL2NAR75V6CQIG  2021-01-01   231.0
1  4XFL2NAR75V6CQIG  2021-01-02   176.0
2  4XFL2NAR75V6CQIG  2021-01-03   222.0
3  4XFL2NAR75V6CQIG  2021-01-04   240.0
4  4XFL2NAR75V6CQIG  2021-01-05   224.0

In [10]:
df4_perimetre = pd.read_parquet("data/dataset4-perimetre.parquet")
df4_perimetre.shape

(10, 6)

In [11]:
df4_perimetre.head()

,POLISSA_SUBM,NUM_COMPLET,DATA_INST_COMP,MARCA_COMP,CODI_MODEL,DIAM_COMP
0,6C3M54YW4J6HKY26,X4MMWDS367J7UO2B,2014-10-23,5557SZ47QZAZ56EQ,36,100.0
1,5E3Z2LEFUIJAPAFY,WRECBJB6E4LHAA2M,2019-07-16,5557SZ47QZAZ56EQ,63,15.0
2,LNWMIE6QC7VVW5LO,OBPNN3V4KBVK5LYF,2018-06-25,OKV4SQYX72EBODPA,27,15.0
3,UV5ZDXQTMOFLY3VR,ZOV6EA7YFL65DEUH,2015-10-15,OKV4SQYX72EBODPA,46,15.0
4,QIP3NNLIZ6SRLGEO,P2PRZV6SEE5SUP3T,2014-11-26,OKV4SQYX72EBODPA,46,15.0