In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [13]:
df1 = pd.read_parquet("data/dataset1.parquet")
df1.head()

,Secció censal/Sección censal/Census section,Districte/Distrito/District,Municipi/Municipio/Municipality,Data/Fecha/Date,Ús/Uso/Use,Nombre de comptadors/Número de contadores/Number of meters,Consum acumulat (L/dia)/Consumo acumulado (L/día)/Accumulated consumption (L/day)
0,801901001,1,BARCELONA,2023-01-01,Comercial/Comercial/Commercial,64,14258
1,801901001,1,BARCELONA,2023-01-01,Domèstic/Doméstico/Domestic,395,11089
2,801901001,1,BARCELONA,2023-01-01,Industrial/Industrial/Industrial,20,490360
3,801901001,1,BARCELONA,2023-01-02,Comercial/Comercial/Commercial,64,6780
4,801901001,1,BARCELONA,2023-01-02,Domèstic/Doméstico/Domestic,395,11571

In [14]:
df2 = pd.read_parquet("data/dataset2.parquet")
df2.head()

,POLIZA_SUMINISTRO,NUMEROSERIECONTADOR,CONSUMO_REAL,FECHA_HORA,CODI_ANOMALIA,DATA_INICI,DATA_FI
0,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,NaN,2024-06-17 00:00:00,163840,2024-07-15,2024-09-13
1,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,21.0,2024-06-17 00:56:13,163840,2024-07-15,2024-09-13
2,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,7.0,2024-06-17 01:56:13,163840,2024-07-15,2024-09-13
3,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 02:56:13,163840,2024-07-15,2024-09-13
4,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 03:56:13,163840,2024-07-15,2024-09-13

In [15]:
df3 = pd.read_parquet("data/dataset3.parquet")
df3.head()

,POLIZA_SUMINISTRO,NUMEROSERIECONTADOR,CONSUMO_REAL,FECHA_HORA,DATA_INI_FACT,DATA_FIN_FACT,CREATED_MENSAJE,CODIGO_MENSAJE,TIPO_MENSAJE
0,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,9.0,2024-01-01 00:29:14,2024-01-24,2024-03-26,NaT,None,None
1,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 01:29:14,2024-01-24,2024-03-26,NaT,None,None
2,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,10.0,2024-01-01 02:29:14,2024-01-24,2024-03-26,NaT,None,None
3,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 03:29:14,2024-01-24,2024-03-26,NaT,None,None
4,U2DVJQEKG3Y56QXB,62TNP5RI2GUII6WB,7.0,2024-01-01 04:29:14,2024-01-24,2024-03-26,NaT,None,None

In [16]:
df4_consum = pd.read_parquet("data/dataset4-consum.parquet")
df4_consum.head()

       POLISSA_SUBM        DATA  CONSUM
0  4XFL2NAR75V6CQIG  2021-01-01   231.0
1  4XFL2NAR75V6CQIG  2021-01-02   176.0
2  4XFL2NAR75V6CQIG  2021-01-03   222.0
3  4XFL2NAR75V6CQIG  2021-01-04   240.0
4  4XFL2NAR75V6CQIG  2021-01-05   224.0

In [17]:
df4_perimetre = pd.read_parquet("data/dataset4-perimetre.parquet")
df4_perimetre.head()

,POLISSA_SUBM,NUM_COMPLET,DATA_INST_COMP,MARCA_COMP,CODI_MODEL,DIAM_COMP
0,6C3M54YW4J6HKY26,X4MMWDS367J7UO2B,2014-10-23,5557SZ47QZAZ56EQ,36,100.0
1,5E3Z2LEFUIJAPAFY,WRECBJB6E4LHAA2M,2019-07-16,5557SZ47QZAZ56EQ,63,15.0
2,LNWMIE6QC7VVW5LO,OBPNN3V4KBVK5LYF,2018-06-25,OKV4SQYX72EBODPA,27,15.0
3,UV5ZDXQTMOFLY3VR,ZOV6EA7YFL65DEUH,2015-10-15,OKV4SQYX72EBODPA,46,15.0
4,QIP3NNLIZ6SRLGEO,P2PRZV6SEE5SUP3T,2014-11-26,OKV4SQYX72EBODPA,46,15.0

In [33]:
# Llegir fitxer saltant les 12 primeres línies i detectant separador
df_weather = pd.read_csv("data/fabra_diari.txt", sep="\t", skiprows=12)

# Rename les columnes a noms reconeguts per pd.to_datetime
df_weather.rename(columns={"ANY": "year", "MES": "month", "DIA": "day"}, inplace=True)

# Assegurar-nos que year, month, day són enters
df_weather["year"] = df_weather["year"].astype(int)
df_weather["month"] = df_weather["month"].astype(int)
df_weather["day"] = df_weather["day"].astype(int)

# Crear columna Data com a datetime
df_weather["Data"] = pd.to_datetime(df_weather[["year", "month", "day"]])

# Filtrar només anys 2022 a 2024
df_weather = df_weather[(df_weather["year"] >= 2022) & (df_weather["year"] <= 2024)]

# Eliminar columna INS
df_weather = df_weather.drop(columns=["INS"])

df_weather.head()

       year  month  day   PPT    TX    TN       Data
26298  2022      1    1   0.0  22.1  14.9 2022-01-01
26299  2022      1    2   0.0  16.4   9.6 2022-01-02
26300  2022      1    3   0.0  17.1  12.2 2022-01-03
26301  2022      1    4  10.1  21.1  10.1 2022-01-04
26302  2022      1    5   0.4  11.0   5.7 2022-01-05

In [34]:
# Dictionary of selected dataset names for our project and their corresponding DataFrames
datasets = {
    "consum": df1,
    "fuites": df3,
    "meteo": df_weather
}

os.makedirs("outputs", exist_ok=True)

# Create a Pandas Excel writer
with pd.ExcelWriter("outputs/data_inventory.xlsx", engine="openpyxl") as writer:
    
    # Iterate over each dataset and write detailed metadata to a separate sheet
    for name, df in datasets.items():
        print(f"Processing {name}...")
        
        # Build metadata dataframe for each dataset
        meta = pd.DataFrame({
            "Column Name": df.columns,
            "Data Type": [str(df[col].dtype) for col in df.columns],
            "Missing Values (%)": [round(df[col].isna().mean() * 100, 2) for col in df.columns],
            "Num Unique Values": [df[col].nunique() for col in df.columns],
            "Example Value": [df[col].dropna().iloc[0] if df[col].notna().any() else None for col in df.columns]
        })

        # Add overall summary in the first rows
        summary = pd.DataFrame({
            "Metric": ["Num Rows", "Num Columns", "Total Missing (%)"],
            "Value": [df.shape[0], df.shape[1], round(df.isna().mean().mean() * 100, 2)]
        })

        # Write both to Excel (summary on top, then metadata)
        summary.to_excel(writer, sheet_name=name, index=False, startrow=0)
        meta.to_excel(writer, sheet_name=name, index=False, startrow=5)
    
    print("Data inventory Excel file created successfully!")

Processing consum...
Processing fuites...
Processing meteo...
Data inventory Excel file created successfully!